@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 25;
  font-weight: 300;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24;
}

